{erl_opts, [debug_info]}.
{minimum_otp_vsn, "22.0"}.
{edoc_opts, [{preprocess, true}]}.

{deps, [
  {cowlib, {git,"https://github.com/ninenines/cowlib", {tag, "2.9.1"}}},
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}},
  {luerl, {git, "https://github.com/wwhai/luerl.git", {branch, develop}}},
  {ranch, {git,"https://github.com/ninenines/ranch", {tag, "1.7.1"}}}
]}.
%%
{shell, [
    {config, "config/sys.config"},
    {apps, [fweb]}
]}.
%% 
{relx, [{release, {fweb, "0.1.0"},
  [stdlib,
   sasl]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}]
}.
%%
{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.
{extra_src_dirs, ["template","handler"]}.
