{erl_opts, [debug_info]}.
{minimum_otp_vsn, "22.0"}.
{edoc_opts, [{preprocess, true}]}.

{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, master}}},
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, master}}},
  {luerl, {git, "https://github.com/wwhai/luerl.git", {branch, master}}}
]}.
%%
{shell, [
    {config, "config/sys.config"},
    {apps, [fweb]}
]}.
%% 
{relx, [{release, {fweb, "0.1.0"},
  [jiffy,
   stdlib,
   sasl]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}]
}.
%%
{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.
{extra_src_dirs, ["template","handler"]}.
